@import "tailwindcss";

html, body {
    height: 100%;
    -webkit-text-size-adjust: 100%;
}

header {
    position: fixed;
    top: 0;
    inset-inline: 0;
    padding-top: env(safe-area-inset-top);
}
