.swiper-button-next::after,
.swiper-button-prev::after,
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
    content: none !important;
    display: none !important;
    font-size: 0 !important;
    line-height: 0 !important;
    width: 0 !important;
    height: 0 !important;
}
